<app-navbar class="navbar"></app-navbar>
  <div class="container">
    <h4>Unete a la comunidad de programadores de la Universidad Católica Boliviana</h4>
    <h1>Precisión programada: veredictos sin sesgos</h1>
    <p>El sistema de juez virtual de programación de la Universidad Católica Boliviana es una plataforma innovadora para concursos y calificaciones automáticas en programación. Promueve el desarrollo de habilidades y ofrece una evaluación justa y eficiente para los estudiantes.</p>
    <div class="button-container">
      <button mat-raised-button color="primary" routerLink="/register">Registrarse</button>
      <button mat-raised-button color="accent" routerLink="/login">Iniciar Sesión</button>
    </div>
  </div>
<br>
<br>

