.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-card {
  width: 50%;
  padding: 20px;
  text-align: start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.error-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.error-text {
  margin-bottom: 20px;
}

.error-message {
  font-size: 18px;
  margin: 10px 0 !important;
  line-height: 1.75;
}
.error-image-container{
  width: auto;
  height: 250px;
  margin-bottom: 20px;
}
.error-image {
  max-height: 100%;
}
