<mat-card-content>
  <div class="form-section">
    <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
      <div class="profile-field">
        <span class="field-label">Contraseña Actual:</span>
        <div class="field-box">
          <mat-form-field>
            <mat-label>Contraseña Actual</mat-label>
            <input matInput formControlName="currentPassword" [type]="hideCurrentPassword ? 'password' : 'text'" placeholder="Contraseña Actual" />
            <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="updatePasswordForm.controls.currentPassword.hasError('required')">
              La contraseña actual es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="profile-field">
        <span class="field-label">Nueva Contraseña:</span>
        <div class="field-box">
          <mat-form-field>
            <mat-label>Nueva Contraseña</mat-label>
            <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" placeholder="Nueva Contraseña" />
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="updatePasswordForm.controls.currentPassword.hasError('required')">
              La contraseña nueva es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="profile-field">
        <span class="field-label">Confirmar Contraseña:</span>
        <div class="field-box">
          <mat-form-field>
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Contraseña" />
            <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="updatePasswordForm.controls.password.hasError('required')">
              La confirmación de la nueva contraseña es requerida
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="button-section">
        <button mat-raised-button color="primary" type="submit">Guardar Cambios</button>
        <button mat-raised-button color="accent" type="button" (click)="onCancel()">Descartar Cambios</button>
      </div>
    </form>
  </div>
</mat-card-content>
