.register-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.image-section {
  flex: 1;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-form-field{
  margin-right: 20px;
}

mat-card {
  width: 100%;
  padding: 20px 0 20px 20px;
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

.login-link {
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
}
